

/* header styling */ 
  a{
    color: #fff !important;
    text-decoration: none !important;
    font-weight: 600;
  }
 

  a.nav-link  {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  a:focus,
  a:hover {
    color: #fff;
  }
  

  a:focus:after,
  a:hover:after{
    width: 100%;
    left: 0%;
  }
  

/* Media query for screens larger than 768 pixels */
@media screen and (min-width: 768px) {
    a::after{
        background-color: purple; /* Color for big screens */
    }
}

  a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  span.navbar-brand{
    font-size: 24px;
    pointer-events: none;
    color: rgb(255, 255, 255);
  }