
/* header styling */ 
  .header{
    position: fixed !important;
    width: 100%;
    z-index: 100;
  }  

a{
    color: #fff !important;
    text-decoration: none !important;
    font-weight: 600;
  }
 

  a.nav-link  {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  a:focus,
  a:hover {
    color: #fff;
  }
  

  a.nav-link:focus:after,
  a.nav-link:hover:after{
    width: 100%;
    left: 0%;
  }
  

  img{
    width: 40px;
    height: auto;
  }

/* Media query for screens larger than 768 pixels */
@media screen and (min-width: 768px) {
    a::after{
        background-color: purple; /* Color for big screens */
    }
}

  a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  span.navbar-brand{
    font-size: 24px;
    pointer-events: none;
    color: rgb(255, 255, 255);
  }


/* scroll bar style */
::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #292828; 
}

::-webkit-scrollbar-thumb {
  background: purple;
  border-radius: 6px; 
}


/* Home components styling */



.home-container {
  z-index: 2;
  background-image: url('./assets/background2.jpg');
  background-position: center;
  background-size: cover;
}

.home-content {
  text-align:center;
  padding: 10%;
}



button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
}

button.learn-more {
  margin-top: 10px;
 width: 12rem;
 height: auto;
}

button.learn-more .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: #000000;
 border-radius: 1.625rem;
}

button.learn-more .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
}

button.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

button.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}

button.learn-more .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: #ffffff;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
 text-decoration: underline;
 border-radius: 25px;
}

button:hover .circle {
 width: 100%;
}

button:hover .circle .icon.arrow {
 background: #fff;
 transform: translate(1rem, 0);
}

button:hover .button-text {
 color: #fff;
}



#intro{
  padding-left: 10%;
  color: white;

}

#intro>div>p {
  background-color: transparent;
  backdrop-filter: blur(15px);
  padding: 20px;
  margin-right: 10%;
  font-size: 1.5rem;
  border-radius: 25px;
  cursor: default;
  transition: 1s;
  border: 1px solid white;
}

#intro>div > p> span{
  font-size: 2.5rem;
  font-weight: 600;
} 

div.home-container>.home-content>#intro> div.col> p>span{
  font-family: monospace;
}




.fancy {
  background-color: transparent;
  backdrop-filter: blur(10px);
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 700;
  letter-spacing: 0.05em;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative; 
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
 }
 
 .fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: black;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: 0.3s linear, width 0.3s linear;
 }
 
 .fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
 }
 
 .fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
 }
 
 .fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }
 
 .fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }
 
 .fancy:hover {
  color: white;
  background: black;
 }
 
 .fancy:hover::before {
  width: 0.9375rem;
  background: white;
 }
 
 .fancy:hover .text {
  color: white;
  padding-left: 1.5em;
 }
 
 .fancy:hover .top-key {
  left: -2px;
  width: 0px;
 }
 
 .fancy:hover .bottom-key-1,
  .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
 }


 /* styling footer component */

 .footer{
    cursor: default;
    padding-top: 1.5%;
    background-color: black;
 }

 
  h6{
  text-decoration: underline;
 }

.copyrights{
  padding-top: 10%;
}

p.copyrights>span#name-footer{
    background: linear-gradient(90deg, blue, purple);;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: oblique;
}

 #contacts{
  text-align: center;
  margin-left: -10%;
  color: white;
 }

.bottom{
  color: white;
  font-size: small;
  text-align: center;
}

 .footer > div.row > div.col-12 > #contacts > ul{
    list-style: none !important;
    /* text-align: center; */
 }
 


 .footer > div.row > div.col-12 > #contacts > ul > li > a{
    color: purple !important;
    text-decoration: underline !important;
    font-weight: 700;
 }


 div.footer> div.row > div.col >p{
  text-align: center;
  font-size: small;
}

.socials>h6{
  color: white;
}

.socials{
 text-align: center;
}

.wrapper {
  display: inline-flex;
  margin-left:-10%;
  /* text-align: center; */
  list-style: none;
  height: 120px;
  font-family: "Poppins", sans-serif;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: linear-gradient(120deg, #833AB4, #E1306C,#FD7E14);
  color: #fff;
}



/* styling Services components */

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  position: absolute; 
  bottom: 0;
  left: 0;
  right: 0;
}

.carousel-wrapper {
  max-width: 800px;
  margin: 0 auto;
}



.skills-container>h4{
  background-color: #000000;
  color: white;
  
}

.skills-container > ul {
  list-style: none;
  text-align: center;
  background-color: whitesmoke; 
  padding: 3%;
  border-left: 1px solid black;
}




.skills-container > ul >li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20%;
  padding-top: 3%;
}


.skills-container{
  text-align: center;
}
.skills-container > ul >.skill > div > .skill-label{
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: large;
}

.skills-container > ul >.skill > div >div.skill-level >progress{
  width: 100%;
  appearance: none;
  animation-duration: 2s;
  animation-fill-mode: forwards; 
}

.skill-level{
  background-color: #eee;
  border-radius: 25px;
  display:flex; 
}


.skills-container > ul >.skill > div >div.skill-level >progress::-webkit-progress-bar {
  background-color: transparent; 
  border-radius: 25px;
  
}

.skills-container > ul >.skill > div >div.skill-level >progress::-webkit-progress-value {
  background-color: rgb(0, 0, 0); 
  border-radius: 25px;
  
}

hr{
  padding-bottom: 3%;
  width: 80% !important;
  margin-left: 10% !important; 
  margin-right: 10% !important; 
}

@keyframes fillProgress {
  from { width: 0; } 
  to { width: 100%; } 
}

.self-info>h4{
  padding-left: 3%;
}

.about-me{
  font-size: 20px;
  padding: 3%;
  font-family: Verdana, Geneva, Tahoma;
  word-wrap: break-word;
}

.services-title{
  text-align: center;
  padding-bottom: 1%;
}

.skills-container > ul >.skill > div {
  width: 250px;
  padding-left: 3%;
}

.service-pic{
  width: 100px;
  height: 100px;
}

.service-label{
  font-size: large;
  font-weight: 500;
}

.service-description{ 
  cursor: default;
  padding-left: 4%;
  padding-right: 3%;
  word-break: keep-all;
  font-size: medium;
  font-weight: 300;
  border-right: 1px solid purple;
}

.first-services-row,
.second-services-row,
.third-services-row{
  padding-left: 2%;
  padding-bottom: 2%;
}

.service{
  display: flex;
  align-items: center;
}