
/* header styling */ 
  a{
    color: #fff !important;
    text-decoration: none !important;
    font-weight: 600;
  }
 

  a.nav-link  {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  a:focus,
  a:hover {
    color: #fff;
  }
  

  a:focus:after,
  a:hover:after{
    width: 100%;
    left: 0%;
  }
  

  img{
    width: 40px;
    height: auto;
  }

/* Media query for screens larger than 768 pixels */
@media screen and (min-width: 768px) {
    a::after{
        background-color: purple; /* Color for big screens */
    }
}

  a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  span.navbar-brand{
    font-size: 24px;
    pointer-events: none;
    color: rgb(255, 255, 255);
  }


/* scroll bar style */
::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #292828; 
}

::-webkit-scrollbar-thumb {
  background: purple;
  border-radius: 6px; 
}


/* Home components styling */



.home-container {
  margin-bottom: 10px;
  z-index: 2;
  /* height: 100vh; */
  background-image: url('./assets/background2.jpg');
}

.home-content {
  text-align:center;
  padding: 10%;
}

#intro{
  padding-left: 10%;
  color: white;

}

#intro>div>p {
  background-color: transparent;
  backdrop-filter: blur(15px);
  padding: 20px;
  margin-right: 10%;
  font-size: 1.5rem;
  border-radius: 25px;
  cursor: default;
  transition: 1s;
  border: 2px solid;
  border-top-color: purple ;
  border-left-color: purple ;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

#intro>div>p:hover{
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: purple;
  border-right-color: purple;
  transition: 1s;
}

#intro>div > p> span{
  font-size: 2.5rem;
  font-weight: 600;
} 
